
.header {
  border-bottom: 1px solid #ececec;
  display: block;
  width: 480px;
  min-height: 60px;
}
@media screen and (min-width:480px) {
.burger-btn{
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: hidden;
} 
}


@media screen and (min-width:480px) {
.burger-btn__icon{
  left: 425px;
  margin-top: 10px;
  border-radius: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &:hover{
    fill:var(--main-color);
  }
}
}
@media screen and (min-width:480px) {
  .navigation {
    display: none;
  }

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
} 
@media screen and (min-width: 1200px) {
  .burger-btn {
    display: none;
  }
 

  @media screen and (min-width: 768px) {
    .navigation {
      display: flex;
    }
  }
  @media screen and (min-width: 768px) {
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
}
/* .navigation {
  display: flex;
} */
/* .menu {
  list-style: none;
  display: flex;
  align-items: center;
} */

/* .menu__item:not(:last-child) {
  margin-right: 36px;
} */

/* .header__mail {
  margin-left: auto;
  list-style: none;
} */
/* .header__phone {
  margin-left: 50px;
  list-style: none;
} */

/* .menu__link,
.header__mail,
.header__phone {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-top: 32px;
} */
/* .menu__link {
  color: #212121;
  &:hover,
  &:focus {
    color: var(--main-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
} */

/* .menu__item {
  position: relative;
} */
/* .menu_active::after {
  content: "";
  display: block;
  height: 4px;
  width: 58px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 48px;
  background-color: var(--main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .header__mail {
  align-items: center;
  justify-items: center;
  color: #757575;

  &:hover,
  &:focus {
    color: var(--main-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
      content: "";
      display: flex;
      align-items: center;
    }
  }
} */
/* .header__phone {
  align-items: center;
  justify-items: center;
  color: #757575;

  &:hover,
  &:focus {
    color: var(--main-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
      content: "";
      display: flex;
      align-items: center;
    }
  }
} */

/* svg {
  margin-right: 10px;
} */
