@media screen and (min-width: 320px) and (max-width: 767px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 480px 400px;
 
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img-tablet.jpg);
  background-repeat: no-repeat;
  background-size: 768px 400px;
  }
}

@media screen and (min-width: 1200px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-overlay.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 400px;
  }
}


/* .hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;
}
.hero__inside {
  height: 200px;
  width: 694px;
  margin: 0 auto;
  display: block;
  padding-top: 200px;
} */
