@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-bg-mobile@2x.jpg');
      background-repeat: no-repeat;
      background-size: 480px 400px;
      align-items: center;
    
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 480px 400px;
  align-items: center;
  
  }
}
.hero__inside {
min-height: 164px;
width: 365px;
border-radius: 4px;
padding-top: 118px;
padding-bottom: 118px;
align-items: center;
display: block;
margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 768px 400px;
      align-items: center;
  }
}

 @media screen and (min-width: 767px) and (max-width: 1199px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-tablet.jpg");
  background-repeat: no-repeat;
  background-size: 768px 400px;
  align-items: center;
  }
}
.hero__inside {
  height: 200px;
  width: 694px;
  margin: 0 auto;
  display: block;
  padding-top: 200px;
} 


@media screen and (min-width: 1200px) { 
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-overlay.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 600px;
  align-items: center;
  }
} 
<<<<<<< HEAD



/* .hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;
} */
@media screen and (min-width: 1200px){
.hero__inside {
  height: 200px;
  width: 694px;
  margin: 0 auto;
  display: block;
  padding-top: 200px;
} 
}
=======
@media screen and (min-width: 1200px) { 
  .hero__inside {
    min-height: 200px;
    width: 694px;
    margin: 0 auto;
    display: block;
    padding-top: 200px;
  } 
}




>>>>>>> 6078ee94758d9b43313b5f1af580ac7c81597856
