
.our-team .container{
  display: block;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 30px;
}



.img-list{
  display: block;
}

.card {
  min-height: 622px;
  width: 450px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

.card:last-child {
  margin-bottom: 60px;
}


.card_img{
  height: 460px;
  width: 450px;

}

.card__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 30px;

}
.card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

/* 
.cards-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: block;
  padding-bottom: 94px;
} */

/* .card {
  width: 270px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:not(:last-child) {
  margin-right: 30px;
}
} */

/* .card__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
} */
/* .card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
} */
