.our-clients .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.border-box {
  align-items: center;
  text-align: center;
  display: block;
}


.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 
    

  

.clients__logo {
  width: 180px;
  height: 92px;
  align-items: center;
  flex-basis: calc((100%-15px) / 2);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  margin-bottom: 30px;
  
}



  .clients__logo:hover,
  .clients__logo:focus {
      border: 1px solid var(--main-color);
      transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  

.clients__icon {
  fill: #afb1b8;
  height: 60px;
  width: 106px;

  


  &:hover,
  &:focus {
    fill: var(--main-color);
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients__logo:hover {
  .clients__icon {
    fill: var(--main-color);
  }
}
/* .border-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: block;
} */

/* .clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} */

/* .clients__logo {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 30px;

    &:hover,
    &:focus {
      border: 1px solid var(--main-color);
      transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
} */

/* .clients__icon {
  fill: #afb1b8;
  height: 60px;
  width: 106px;

  &:hover,
  &:focus {
    fill: var(--main-color);
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
} */

/* .clients__logo:hover {
  .clients__icon {
    fill: var(--main-color);
  }
} */
