.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}


.logo_light {
  color: black;
}
.logo_accent {
  color: var(--main-color);
}
@media screen and (min-width:480px) {
  .logo{
    display: flex;
    height: 28px;
    width: 134px;
    padding-top: 16px;
    border-radius: nullpx;
  }
}

.logo_dark{
  color: #ffffff;
  display: flex;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 60px;
  text-decoration: none;
}



/* .logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
  align-items: center;
  text-decoration: none;
} */



/* .logo_dark {
  color: #ffffff;
  display: flex;
  padding-top: 54px;
} */

