

.main-headline {
display: flex;
font-size: 26px;
font-weight: 900;
line-height: 1.615;
letter-spacing: 0.06em;
color: #ffffff;
padding-bottom: 30px;
justify-items: center;
text-align: center;
}



@media screen and (min-width: 1200px){
 .main-headline {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
} 
}

