

.main-headline {
font-size: 26px;
font-weight: 900;
line-height: 1.615;
letter-spacing: 0.06em;
text-align: center;
color: #ffffff;
padding-bottom: 30px;
}

@media screen and (min-width:768px) {
.main-headline {
font-size: 26px;
font-weight: 900;
line-height: 1.615;
letter-spacing: 0.06em;
text-align: center;
text-align: center;
color: #ffffff;
}
<<<<<<< HEAD

@media screen and (min-width: 1200px){
 .main-headline {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
} 
}
=======
}

@media screen and (min-width:1200px) {
  .main-headline {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ffffff;
  }
  }
>>>>>>> 6078ee94758d9b43313b5f1af580ac7c81597856
