.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  margin: 0 auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: transform var(--animation);
}


.mobile-menu-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}

.mobile-menu__item{
font-family: Roboto;
font-size: 40px;
font-weight: 500;
line-height: 47px;
letter-spacing: 0.02em;
text-align: left;
}

  
        