.container {
  width: 100%;
  padding: 0 10px;
  display: flex;
}



@media screen and (min-width:480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;

  }
}

 @media screen and (min-width:768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
    margin: 0 auto;

  }
} 

 @media screen and (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
  }
}
  
  @media screen and (min-width:1200px) {
  .header & {
    display: flex;
  }
}

@media screen and (min-width:1200px) {
.footer & {
  display: flex;
}
}
@media screen and (min-width:1200px) {
.our-clients & {
  display: flex;
  margin-top: 102px;
  margin-bottom: 86px;
  align-items: center;
  justify-content: center;
}
}

@media screen and (min-width:1200px) {
 .our-team & {
  align-items: center;
}
}

@media screen and (min-width:1200px) {
.strenghts & {
  display: flex;
  margin-top: 30px;
}
}

@media screen and (min-width:1200px) {
.what-do-we-do & {
  align-items: center;
  justify-content: center;
} 
}