.container {
  width: 100%;
  padding: 0 10px;
  display: flex;
}



  .container {
    max-width: 480px;
    padding: 0 15px;
    

  }


 @media screen and (min-width:768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
    margin: 0 auto;

  }
} 

 @media screen and (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
  }
}


/* .container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.header & {
  display: flex;
}
.footer & {
  display: flex;
}

.our-clients & {
  display: flex;
  margin-top: 102px;
  margin-bottom: 86px;
  align-items: center;
  justify-content: center;
}
 .our-team & {
  align-items: center;
}

.strenghts & {
  display: flex;
  margin-top: 30px;
}

.what-do-we-do & {
  align-items: center;
  justify-content: center;
} */